<div nz-row>
  <div nz-col nzSpan="8"></div>
  <div nz-col nzSpan="8">
    <div style="background: #ECECEC;padding:30px;">
    <nz-card style="width:580px;" [nzBordered]="false" nzTitle="博客--登录">
        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
          <nz-form-item>
            <nz-form-control>
              <nz-input-group  [nzPrefix]="prefixUser">
                <input type="text" nz-input formControlName="name" placeholder="用户名">
              </nz-input-group>
              {{validateForm.get('name').errors | json }}
              {{validateForm.get('name').errors?.maxLength | json}}
              <nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors?.required">请输入您的姓名!</nz-form-explain>
              <nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors?.maxLength">超过规定长度!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-input-group [nzPrefix]="prefixLock">
                <input type="password" nz-input formControlName="password" placeholder="密码">
              </nz-input-group>
              {{validateForm.get('password').errors | json }}
              {{validateForm.get('password').errors?.minLength | json}}
              <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors?.required">请输入密码!</nz-form-explain>
              <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors?.minLength">密码长度未达到规定!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="primary" [disabled]="!validateForm.valid">登录</button>
              <a routerLink="/register">没有账号？去注册</a>
            </nz-form-control>
          </nz-form-item>
        </form>
      <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
      <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
    </nz-card>
    </div>
  </div>
</div>
