<div nz-row>
  <div nz-col nzSpan="8"></div>
  <div nz-col nzSpan="8">
    <div style="background: #ECECEC;padding:30px;">
      <nz-card style="width:580px;" [nzBordered]="false">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
          <nz-form-item>
            <nz-form-label [nzSpan]="56" nzRequired>标题</nz-form-label>
            <nz-form-control [nzSpan]="96" nzHasFeedback>
              <input nz-input formControlName="title" placeholder="请输入文章标题">
              <nz-form-explain *ngIf="validateForm.get('title').dirty && validateForm.get('title').errors">
                <ng-container *ngIf="validateForm.get('title').hasError('required')">
                  文章标题不能为空！
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="56" nzRequired>简介</nz-form-label>
            <nz-form-control [nzSpan]="96" nzHasFeedback>
              <textarea formControlName="intro" nz-input rows="3" placeholder="请填写简介"></textarea>
              <nz-form-explain *ngIf="validateForm.get('intro').dirty && validateForm.get('intro').errors">
                <ng-container *ngIf="validateForm.get('intro').hasError('required')">
                  文章简介不能为空！
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="56" nzRequired>内容</nz-form-label>
            <nz-form-control [nzSpan]="96" nzHasFeedback>
              <textarea formControlName="content" nz-input rows="30" placeholder="请填写内容"></textarea>
              <nz-form-explain *ngIf="validateForm.get('content').dirty && validateForm.get('content').errors">
                <ng-container *ngIf="validateForm.get('content').hasError('required')">
                  文章内容不能为空！
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="56" nzFor="techCategory" nzRequired>分类</nz-form-label>
            <nz-form-control [nzSpan]="96">
              <nz-select id="techCategory_id" formControlName="techCategory" nzPlaceHolder="请选择你的技术分类" nzAllowClear>
                <nz-option *ngFor="let op of techCategory_trry" nzValue="{{op.tech_category_id}}" nzLabel="{{op.name}}"></nz-option>
              </nz-select>
              <nz-form-explain *ngIf="validateForm.get('techCategory').dirty && validateForm.get('techCategory').hasError('required')">请选择你的技术分类!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
          <nz-form-label [nzSpan]="56" nzRequired>标签</nz-form-label>
          <nz-form-control [nzSpan]="96" nzHasFeedback>
            <input nz-input formControlName="label" placeholder="请输入文章标签">
            <nz-form-explain *ngIf="validateForm.get('label').dirty && validateForm.get('label').errors">
              <ng-container *ngIf="validateForm.get('label').hasError('required')">
                标签不能为空！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="56" nzRequired>作者</nz-form-label>
            <nz-form-control [nzSpan]="96" nzHasFeedback>
              <input nz-input formControlName="createdUser" placeholder="请输入文章作者">
              <nz-form-explain *ngIf="validateForm.get('createdUser').dirty && validateForm.get('createdUser').errors">
                <ng-container *ngIf="validateForm.get('createdUser').hasError('required')">
                  作者不能为空！
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control [nzOffset]="7" [nzSpan]="56">
              <button nz-button nzType="primary" [disabled]="!validateForm.valid">提交</button>
              <button nz-button (click)="resetForm($event)">重置</button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-card>
    </div>
  </div>
  <div nz-col nzSpan="8"></div>
</div>


